* {
    box-sizing: border-box;
}

body {    
    display: grid;
    grid-template-columns: 200px 1fr 400px;      
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;    
}

main {
    background-color: #DFF5FB;   
}

.main-div {
    margin-top: 30px;
    background-color: white;
    height: 680px;
    border-radius: 20px;   
}

.hey {
    font-size: 25px;
    font-weight: bold;    
    padding-top: 30px;
    margin-left: 40px;
}

.hey > span {
    font-weight: 400;
    font-size: 14px;
    color: #6D7B8C;  
}

.your-cards {
    margin-left: 40px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards > img {
    width: 250px;
}


.content {
    margin-left: 40px;
}

.column-1 {
    display: flex;
    width: 300px;
    border: 1px solid red;
}

.td-amount {
    width: 100px;
    border: 1px solid red;
    text-align: end;
}

.td-date {
    width: 100px;
    border: 1px solid red;
    text-align: end;

}

.td-time {
    width: 100px;
    border: 1px solid red;
    text-align: end;

}

.td-actions {
    width: 100px;
    border: 1px solid red;
    text-align: end;

}






